version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "yearly"
    groups:
      kotlin:
        patterns:
          - "org.jetbrains.kotlin.*"
      junit:
        patterns:
          - "junit"
          - "junit*"
          - "*junit*"
      proto-grpc:
        patterns:
          - "proto*"
          - "*proto*"
          - "*grpc.*"
          - "*grpc*"
          - "grpc*"

  - package-ecosystem: "npm"
    directory: "wlsm-messenger-frontend"
    schedule:
      interval: "yearly"
    groups:
      angular:
        patterns:
          - "@angular*"
          - "angular*"
          - "*angular*"
      types:
        patterns:
          - "@types*"
          - "*types*"
      grpc:
        patterns:
          - "*grpc*"
      webpack:
        patterns:
          - "*webpack*"

  - package-ecosystem: "npm"
    directory: "wslm-gui"
    schedule:
      interval: "yearly"
    groups:
      angular:
        patterns:
          - "@angular*"
          - "angular*"
          - "*angular*"
      types:
        patterns:
          - "@types*"
          - "*types*"
